.wrapper_with_pdding
  #docs.clearfix
    - unless @docs.blank?
      - @docs.each do |doc|
        %a{ href: (url_for [doc])}
          .doc
            %p.title= doc.title
            %p.date= time_ago_in_words(doc.created_at)
            %p.content= truncate(doc.content, length: 50)
    - else
      %h2 Create Document!
      %p Start creating your first doc
      %button = link_to "Create Document", new_doc_path
